$maxWidthLayout: 1440; // Если один макет для всех платформ
$maxWidthContainer: 1440;

@mixin adaptive($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    // Если меньше контейнер
    @if $type==1 {
        #{$property}: $startSize + px;

        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    }

    // Если больше контейнер
    @else if $type==2 {
        #{$property}: $startSize + px;

        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    }

    // Всегда
    @else {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthLayout - 320}));
    }
}