.link {
    display: flex;
    @include adaptive("width", 260, 220, 1);
    @include adaptive("height", 60, 44, 1);

    justify-content: center;
    align-items: center;

    border-radius: 5px;

    font-family: "Open Sans";
    font-weight: 700;
    color: var(--btnColor-default_text);
    @include adaptive("font-size", 16, 14, 1);

    text-align: center;
    text-decoration: none;

    background-color: var(--btnColor-default_bg);
    border: none;

    transition: 0.5s;

    &:hover {
        background-color: var(--btnColor-hover_bg);
        color: var(--btnColor-hover_text);
    }

    &:focus {
        background-color: var(--btnColor-focus_bg);
        color: var(--btnColor-focus_text);
        border: var(--btnBorder-focus_border);
    }
}